:root {
  --background: #060a22;
  --primary: #8d99ec;
  --secondary: #973719;
  --accent: #e2e04f;
  --text: #dfe0fa;
}

.App {
  background: linear-gradient(
    to top,
    var(--background) 50%,
    var(--primary) 100%
  );

  color: var(--text);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* justify-content: space-between; */
  text-transform: uppercase;
  font-weight: bold;

  .container {
    overflow: hidden;
    position: absolute;
    opacity: 0.5;
    inset: 0;
  }

  & .App__content {
    padding: 1rem;
    z-index: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  & .App__castle {
    position: absolute;
    inset: 0;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & .App__mickey {
    /* position: relative; */
    max-width: 600px;
    width: 100%;
    opacity: 0;
    scale: 0.5;
    animation: intro 1s ease-in-out 0.5s forwards;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;

    & .text-block,
    .Mickey {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    & .text-block {
      padding-top: 7rem;
    }

    & h1 {
      font-size: 9rem;
      line-height: 7rem;
    }
  }
}

.Mickey {
  & .filled {
    opacity: 0.2;
    fill: var(--primary);
  }
  & .filling {
    fill: var(--primary);
  }
}

@keyframes intro {
  to {
    opacity: 1;
    scale: 1;
  }
}

.CircleImages {
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  height: 10rem;
  width: 10rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}