body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
